# Payload secret
[
payload
]
secret = "<value>"

[
postgres
]
password = "<value>"
conn_str = "<value>"
# encoded_password = "python3 -c "import urllib.parse; print(urllib.parse.quote('${NEXUS_PG_PASSWORD}', safe=''))"" - # Removed to be added to python script
