# Postgres db password
export NEXUS_PG_PASSWORD="<value>"

# URL encoded password
export NEXUS_PG_ENCODED_PASSWORD=$(python3 -c "import urllib.parse; print(urllib.parse.quote('${NEXUS_PG_PASSWORD}', safe=''))")

# Postgres db connection string with URL encoded password
export NEXUS_PG_CONN_STR="postgresql://postgres:${NEXUS_PG_ENCODED_PASSWORD}@nexus-pg:5432/postgres"

