#!/bin/bash

# UUID Assigned to RAID array (Use get_RAID_UUID)
export NEXUS_RAID_UUID=""
# Typically /dev/md0
export NEXUS_RAID_DEVICE=""
# Relative RAID device (i.e last element, or md0)
export NEXUS_REL_RAID_DEVICE=""
# Whichever directory raid array is mounted to, typically directory in /mnt/
export NEXUS_MOUNT_POINT=""
